---
import Layout from "../../../layouts/index.astro"
---

<Layout title="sitebender.io">
	<main>
		<article>
			<h1></h1>
			<p></p>
			<p>
				<a href="/basic-html">Table of contents</a>
			</p>
		</article>
	</main>
</Layout>
