---
import Layout from "../../layouts/ez/index.astro"
---

<Layout title="Overview :: Ezidocs">
	<article>
		<h1>A plan of action</h1>
		<p>
			Before setting forth on any significant evolution, it is wise to ensure
			that all the relevant parties are on the same page, and that all available
			resources have been utilized to make success most likely.
		</p>
		<p>
			The documents here are to be discussed and modified based on input from
			all the stakeholders. They are a collaborative effort to arrive at a way
			forward for EZIDOCS that achieves the most with the least.
		</p>
		<p>
			To save the bother of forcing everyone to log in, all pages specific to
			EZIDOCS are behind an unguessable coded URL:
		</p>
		<pre><code>/EivMZy4KioeRmeHDXyYiDM/</code></pre>
		<p>
			Your chance of guessing this URL is, oh, roughly one in infinity, but
			anyone who has the URL can view the page, so <strong
				>please don’t share these URLs outside of EZIDOCS.</strong
			> Thanks!
		</p>
		<section>
			<h2>Let’s get to it</h2>
			<p>
				There are a few essential best practices that we should all agree upon
				before embarking on this adventure. We list some here.
			</p>
			<p>
				Documents open for discussion are marked <strong>DRAFT</strong>.
				Documents approved by the boss are marked <strong>APPROVED</strong>.
				Documents can move back and forth between DRAFT and APPROVED status. We
				will track versions.
			</p>
			<p>
				Some documents that provide general reference information are marked
				INFO.
			</p>
			<h3>Essential practices</h3>
			<p>
				Some basic best practices should be kept front and center at all times.
			</p>
			<ol>
				<li>
					<div>
						<a href="/EivMZy4KioeRmeHDXyYiDM/essential-practices/occams-razor/"
							>Keep it simple</a
						>
					</div>
					<p>
						It is futile to do with more things that which can be done with
						fewer.
					</p>
				</li>
				<li>
					<div>
						<a
							href="/EivMZy4KioeRmeHDXyYiDM/essential-practices/use-the-right-tool"
							>Use the right tool</a
						>
					</div>
					<p>When all you have is a hammer, everything looks like a nail.</p>
				</li>
				<li>
					<div>
						<a
							href="/EivMZy4KioeRmeHDXyYiDM/essential-practices/use-the-right-tool"
							>Minimize or eliminate tech debt</a
						>
					</div>
					<p>
						The best way to minimize tech debt is to avoid it from the getgo.
					</p>
				</li>
				<li>
					<div>
						<a
							href="/EivMZy4KioeRmeHDXyYiDM/essential-practices/measure-twice-cut-once"
							>Measure twice, cut once</a
						>
					</div>
					<p>
						The best way to minimize tech debt is to avoid it from the getgo.
					</p>
				</li>
			</ol>
			<h3>Understanding the opportunity</h3>
			<p>
				We have an opportunity to improve the EZIDOCS application significantly.
				Here we consider which decisions involved compromises and how we can
				better those compromises.
			</p>
			<ol>
				<li>
					<div>
						<a
							href="/EivMZy4KioeRmeHDXyYiDM/understanding-the-opportunity/the-wrong-tool"
							>The wrong tool</a
						>
					</div>
					<p>
						All decisions involve compromises; compromises have consequences.
					</p>
				</li>
			</ol>
		</section>
	</article>
</Layout>
