---
import Layout from "../../../layouts/index.astro"
---

<Layout title="Operators :: Operations documentation">
	<main>
		<article>
			<header>
				<h1>Operators</h1>
			</header>
			<nav>
				<a href="/operations">up &uarr;</a>
			</nav>
			<p>
				Operators provide mathematical operations, such as addition,
				subtraction, absolute value, negation, etc.
			</p>
			<dl>
				<dt><code>absoluteValue</code></dt>
				<dd></dd>
				<dt><code>add</code></dt>
				<dd></dd>
				<dt><code>divide</code></dt>
				<dd></dd>
				<dt><code>identity</code></dt>
				<dd></dd>
				<dt><code>max</code></dt>
				<dd></dd>
				<dt><code>min</code></dt>
				<dd></dd>
				<dt><code>modulus</code></dt>
				<dd></dd>
				<dt><code>multiply</code></dt>
				<dd></dd>
				<dt><code>negate</code></dt>
				<dd></dd>
				<dt><code>power</code></dt>
				<dd></dd>
				<dt><code>reciprocal</code></dt>
				<dd></dd>
				<dt><code>remainder</code></dt>
				<dd></dd>
				<dt><code>root</code></dt>
				<dd></dd>
				<dt><code>subtract</code></dt>
				<dd></dd>
			</dl>
		</article>
	</main>
</Layout>
