---
import Layout from "../../../../layouts/ez/index.astro"
---

<Layout title="Use the right tool">
	<article>
		<header>
			<h1>Use the right tool</h1>
			<p class="label info"></p>
		</header>
		<p></p>
	</article>
</Layout>
