---

---

<form class="traffic-signal">
	<label class="bulb">
		<input
			checked
			name="bulb"
			type="radio"
			value="stop"
		/>
	</label>
	<label class="bulb">
		<input
			name="bulb"
			type="radio"
			value="caution"
		/>
	</label>
	<label class="bulb">
		<input
			name="bulb"
			type="radio"
			value="go"
		/>
	</label>
</form>
<div
	id="alert"
	aria-live="assertive"
>
	STOP
</div>

<style>
	:root {
		--bulb-lit-color-caution: radial-gradient(
			hsl(44, 100%, 75%),
			hsl(44, 100%, 50%)
		);
		--bulb-lit-color-go: radial-gradient(
			hsl(120, 100%, 50%),
			hsl(120, 100%, 30%)
		);
		--bulb-lit-color-stop: radial-gradient(hsl(5, 90%, 65%), hsl(5, 100%, 45%));
		--bulb-rim-color: #222;
		--bulb-unlit-color: #444;
		--case-cover: #222;
		--faceplate-color: #666;

		--bulb-diameter: 20vh;
		--bulb-spacing: 1vh;
	}

	.traffic-signal {
		align-items: center;
		background-color: var(--faceplate-color);
		border-radius: 0.75vh;
		border: 0.3vh solid var(--case-color);
		box-sizing: content-box;
		display: flex;
		flex-direction: column;
		gap: var(--bulb-spacing);
		height: calc(
			calc(var(--bulb-diameter) * 3) + calc(var(--bulb-spacing) * 6)
		);
		justify-content: space-between;
		padding-block: calc(var(--bulb-spacing) * 2);
		width: calc(var(--bulb-diameter) + calc(var(--bulb-spacing) * 4));
	}

	.traffic-signal .bulb {
		aspect-ratio: 1;
		background-color: var(--bulb-unlit-color);
		border-radius: 50%;
		border: 0.3vh solid var(--bulb-rim-color);
		box-sizing: border-box;
		display: flex;
		flex: 1;
		height: var(--bulb-diameter);
		max-height: var(--bulb-diameter);
		place-content: center;
	}

	.traffic-signal .bulb input[type="radio"] {
		opacity: 0;
	}

	.traffic-signal .bulb:has(input[value="stop"]:checked) {
		background: var(--bulb-lit-color-stop);
	}

	.traffic-signal .bulb:has(input[value="caution"]:checked) {
		background: var(--bulb-lit-color-caution);
	}

	.traffic-signal .bulb:has(input[value="go"]:checked) {
		background: var(--bulb-lit-color-go);
	}

	#alert {
		max-height: 0;
		opacity: 0;
	}
</style>

<script>
	globalThis.addEventListener("DOMContentLoaded", () => {
		const GO_DELAY = 2000
		const CAUTION_DELAY = 1000
		const STOP_DELAY = 3000

		const form = document.querySelector("form")
		const bulbs = form?.elements.namedItem("bulb")
		const alert = document.querySelector("#alert")

		function runLights() {
			switch (bulbs?.value) {
				case "go":
					bulbs.value = "caution"
					setTimeout(runLights, CAUTION_DELAY)
					alert.innerText = "CAUTION"
					break
				case "caution":
					bulbs.value = "stop"
					setTimeout(runLights, STOP_DELAY)
					alert.innerText = "STOP"
					break
				case "stop":
					bulbs.value = "go"
					setTimeout(runLights, GO_DELAY)
					alert.innerText = "GO"
				default:
			}
		}

		runLights()
	})
</script>
