---
import Layout from "../../../layouts/index.astro"
---

<Layout title="Formatters :: Operations documentation">
	<main>
		<article>
			<header>
				<h1>Formatters</h1>
			</header>
			<nav>
				<a href="/operations">up &uarr;</a>
			</nav>
			<p>
				Formatters permit us to format the visible output without altering the
				underlying value. For example, we can display a monetary amount with a
				currency symbol and locale-specific separators (, and .).
			</p>
			<dl>
				<dt><code>asMasked</code></dt>
				<dd></dd>
				<dt><code>asMonetaryAmount</code></dt>
				<dd></dd>
				<dt><code>asPercent</code></dt>
				<dd></dd>
				<dt><code>asTextFormat</code></dt>
				<dd></dd>
				<dt><code>withSubstitutions</code></dt>
				<dd></dd>
			</dl>
		</article>
	</main>
</Layout>
