---
import Layout from "../../../../layouts/ez/index.astro"
---

<Layout title="Occam’s razor">
	<article>
		<header>
			<h1>Occam’s razor</h1>
			<p class="label info"></p>
		</header>
		<p>
			Perhaps the simplest form of <strong>Occam’s razor</strong> is the one articulated
			by Irish philosopher John Punch:
		</p>
		<blockquote>Do not needlessly multiply entities.</blockquote>
		<p>
			Popularly, we hear it paraphrased most often—and incorrectly—as &ldquo;the
			simplest solution is the best one&rdquo;. But that’s not quite right, is
			it?
		</p>
		<p>
			It is only when two solutions solve the problem <em>equally</em> that we should
			choose the simpler of the two. If one solution is <em>better</em> than the
			other, then we should choose the better one, if practicable.
		</p>
		<p>So a better paraphrase is:</p>
		<blockquote>
			The simplest solution <em>all else being equal</em> is the best one.
		</blockquote>
		<p>
			Occam’s razor is at the root of many of the best practices in life. Here
			are a few:
		</p>
		<dl>
			<dt>just-in-time learning</dt>
			<dd>Never learn a thing until you need it.</dd>
			<dt>just-in-time coding</dt>
			<dd>Never write a line of code until you must.</dd>
			<dt>minimizing dependencies</dt>
			<dd>Never add a dependency until you have exhausted all other options</dd>
			<dt><abbr title="Keep It Simple, Stupid">KISS</abbr></dt>
			<dd>
				Start with the simplest solution; add complexity only when absolutely
				necessary
			</dd>
		</dl>
		<p>
			Occam’s razor is also known as the <strong
				>law (or principle) of parsimony (or economy).</strong
			> William of Ockham, for whom the razor is named, phrased the law of economy
			thus:
		</p>
		<blockquote>
			It is futile to do with more things that which can be done with fewer.
		</blockquote>
		<p>
			It all comes down to the same thing: start as simply as possible; add
			complexity only as absolutely required.
		</p>
		<p>
			<strong>Don’t add features until you actually need them.</strong> Don’t add
			functionality that you don’t need. Don’t add frills or design elements that
			serve no useful purpose. Don’t waste time on activities that do not directly
			add value—and choose activities that add the most value for the least effort.
		</p>
		<p>
			Gus van Sant made a great short film from the William S. Burrough&rsquo;s
			short story, <a
				href="https://www.dailymotion.com/video/xrcxvk"
				rel="external"
				>The Discipline of DE</a
			>. While it is probably intended as pardoy, taken seriously it is a
			charming and inspirational short. Enjoy.
		</p>
	</article>
</Layout>
