---
import Layout from "../../../../layouts/index.astro"
---

<Layout title="localStorageValue :: Injectors :: Operations documentation">
	<main>
		<article>
			<header>
				<h1>localStorageValue</h1>
			</header>
			<nav>
				<a href="/operations/injectors">up &uarr;</a>
			</nav>
		</article>
	</main>
</Layout>
