---
import Layout from "../layouts/index.astro"
---

<Layout title="sitebender.io">
	<main>
		<article>
			<header>
				<h2>Examples</h2>
			</header>
			<ul>
				<li>
					<a href="/examples/dom-from-json/index.html"
						>DOM from JSON (and back)</a
					>
					<ul>
						<li>
							<a href="/examples/dom-from-json/make-page.html">Make page</a> (generated
							from <a href="/examples/dom-from-json/modules/make-page.js"
								>JSON</a
							>)
						</li>
					</ul>
				</li>
				<li>
					Enhanced forms
					<ul>
						<li>
							<a href="/examples/enhanced-forms/enhanced-inputs.html"
								>Enhanced inputs</a
							>
						</li>
						<li>
							<a href="/examples/enhanced-forms/enhanced-password-field.html"
								>Enhanced password field</a
							>
						</li>
						<li>
							<a href="/examples/enhanced-forms/enhanced-password-fields.html"
								>Enhanced password fields</a
							>
						</li>
					</ul>
				</li>
				<li>
					Native form validation
					<ul>
						<li>
							<a href="/examples/native-form-validation/animation-frame.html"
								>Animation frame</a
							>
						</li>
						<li>
							<a href="/examples/native-form-validation/simple-form.html"
								>Simple form</a
							>
						</li>
						<li>
							<a href="/examples/native-form-validation/test-inputs.html"
								>Test inputs</a
							>
						</li>
					</ul>
				</li>
				<li>
					Progressive enhancement
					<ul>
						<li>
							<a href="/examples/progressive-enhancement/html-only.html"
								>HTML only</a
							>
						</li>
						<li>
							<a href="/examples/progressive-enhancement/basic-css.html"
								>With basic CSS</a
							>
						</li>
						<li>
							<a href="/examples/progressive-enhancement/accordion-group.html"
								>Accordion group</a
							>
						</li>
						<li>
							<a href="/examples/progressive-enhancement/enhancement-01.html"
								>Enhancement 1</a
							>
						</li>
						<li>
							<a href="/examples/progressive-enhancement/enhancement-02.html"
								>Enhancement 2</a
							>
						</li>
						<li>
							<a href="/examples/progressive-enhancement/enhancement-03.html"
								>Enhancement 3</a
							>
						</li>
					</ul>
				</li>
				<li>
					<a href="/examples/responsive-by-default/index.html"
						>Responsive by default</a
					>
				</li>
				<li>
					<a href="/examples/pubsub/index.html">Simple PubSub</a>
				</li>
				<li>
					<a href="/examples/pubsub-2/index.html">Simple PubSub v2</a>
				</li>
				<!-- <li>
          <a href="/examples/pubsub-3/index.html">Simple PubSub v3</a> &bull;
          <a href="/examples/pubsub-3/same-browser.html">PubSub receiver</a>
        </li> -->
				<li>
					<a href="/examples/frozen-rows-and-columns/index.html"
						>Frozen rows and columns</a
					>
				</li>
				<li>
					<a href="/examples/n-dimensional-distance-calculator/index.html"
						>N-dimensional distance calculator</a
					>
				</li>
			</ul>
		</article>
	</main>
</Layout>
