---
import Layout from "../layouts/index.astro";
---

<Layout title="sitebender.io">
  <main>
    <article>
      <header>
        <h2>Examples</h2>
      </header>
      <ul>
        <li>
          <a href="/examples/pubsub/index.html">Simple PubSub</a>
        </li>
        <li>
          <a href="/examples/pubsub-2/index.html">Simple PubSub v2</a>
        </li>
      </ul>
    </article>
  </main>
</Layout>
