---
import Layout from "../layouts/index.astro";
---

<Layout title="sitebender.io">
  <main>
    <article>
      <header>
        <h2>Examples</h2>
      </header>
      <ul>
        <li>
          <a href="/examples/dom-from-json/index.html"
            >DOM from JSON (and back)</a
          >
          <ul>
            <li>
              <a href="/examples/dom-from-json/make-page.html">Make page</a> (generated
              from <a href="/examples/dom-from-json/modules/make-page.js"
                >JSON</a
              >)
            </li>
          </ul>
        </li>
        <li>
          <a href="/examples/pubsub/index.html">Simple PubSub</a>
        </li>
        <li>
          <a href="/examples/pubsub-2/index.html">Simple PubSub v2</a>
        </li>
        <!-- <li>
          <a href="/examples/pubsub-3/index.html">Simple PubSub v3</a> &bull;
          <a href="/examples/pubsub-3/same-browser.html">PubSub receiver</a>
        </li> -->
      </ul>
    </article>
  </main>
</Layout>
