---
import Layout from "../../layouts/index.astro"
---

<Layout title="Theia">
	<script
		slot="scripts"
		src="scripts/main.js"
		type="module"
	></script>
	<main
		style="display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2rem; padding-inline: 5vw;"
	>
		<article>
			<h1>Home</h1>
			<code></code>
		</article>
	</main>
</Layout>
