---
import Layout from "../../../layouts/index.astro"
// import CodeBlock from "../../../components/CodeBlock/index.astro"
// import * as aHtml from "../../../snippets/html/a.md"
---

<Layout title="sitebender.io">
	<main>
		<article>
			<h1>Naming</h1>
			<p>here</p>
		</article>
	</main>
</Layout>
