body {
	background-color: white;
	color: black;
	font-family: sans-serif;
	font-size: 1rem;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

body > header {
	align-items: center;
	background-color: black;
	color: white;
	display: flex;
	gap: 1rem;
	justify-content: flex-start;
	padding: 0.5rem 1rem;
}

main > article {
	margin: 3rem auto;
	max-width: min(54rem, 90vw);
}
