---
import Layout from "../../../layouts/index.astro"
---

<Layout title="Validation :: Operations documentation">
	<main>
		<article>
			<header>
				<h1>Validation</h1>
			</header>
			<nav>
				<a href="/operations">up &uarr;</a>
			</nav>
			<p>
				Validators are created by combining assertions and then wrapping them in
				the <code>createValidator</code> function. Once wrapped, the validator will
				return <code>true</code> if the validation passes, but a list of error messages
				if it fails.
			</p>
			<p>See the list of <a href="/operations/assertions">assertions</a>.</p>
		</article>
	</main>
</Layout>
