---
import Layout from "../../../layouts/index.astro"
---

<Layout title="Guards :: Operations documentation">
	<main>
		<article>
			<header>
				<h1>Guards</h1>
			</header>
			<nav>
				<a href="/operations">up &uarr;</a>
			</nav>
			<p>
				Guards are used to provide &ldquo;static type checks&rdquo;. That is,
				they test that the value is the data type (array, boolean, real number,
				etc.) that it should be.
			</p>
			<section>
				<h2 id="static">Static type checks</h2>
				<dl>
					<dt><code>isArray</code></dt>
					<dd></dd>
					<dt><code>isBoolean</code></dt>
					<dd></dd>
					<dt><code>isCalendar</code></dt>
					<dd></dd>
					<dt><code>isDuration</code></dt>
					<dd></dd>
					<dt><code>isInteger</code></dt>
					<dd></dd>
					<dt><code>isMap</code></dt>
					<dd></dd>
					<dt><code>isMember</code></dt>
					<dd></dd>
					<dt><code>isPlainDate</code></dt>
					<dd></dd>
					<dt><code>isPlainDateTime</code></dt>
					<dd></dd>
					<dt><code>isPlainMonthDay</code></dt>
					<dd></dd>
					<dt><code>isPlainTime</code></dt>
					<dd></dd>
					<dt><code>isPlainYearMonth</code></dt>
					<dd></dd>
					<dt><code>isPrecisionNumber</code> (e.g., monetary amount)</dt>
					<dd></dd>
					<dt><code>isRealNumber</code></dt>
					<dd></dd>
					<dt><code>isSet</code></dt>
					<dd></dd>
					<dt><code>isString</code></dt>
					<dd></dd>
					<dt><code>isTimeZone</code></dt>
					<dd></dd>
					<dt><code>isYearWeek</code></dt>
					<dd></dd>
					<dt><code>isZonedDateTime</code></dt>
					<dd></dd>
				</dl>
			</section>
		</article>
	</main>
</Layout>
